/* CLASES*/
body{
    margin: 0;
    background: url('https://images.pexels.com/photos/5477776/pexels-photo-5477776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navi {
    background-color: rgba(109, 109, 109, 0.301);
    color: rgb(0, 0, 0);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.inacap-ludi{
    text-align: center;
    color: rgba(231, 37, 37, 0.897);
    font-weight: bold;
    
}

.ludi{
    color: black;
    font-family: 'Segoe UI';
    font-style: italic;
}

.g{
    color: white;
}
.inacap-info {
    list-style-type: none;
}

.inacap{
    width: 150px;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.menos{
    background-color: rgb(230, 72, 72);
}

.menos:hover{
    background-color: rgb(177, 57, 57);
}

.get-user-info{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: auto;
}

.get-user-info label,
.get-user-info input,
.get-user-info button {
    margin-left: 5px;
}

.get-user-info button {
    background-color: rgb(120, 190, 231);
    
}

.get-user-info button a {
    text-decoration: none;
    color: black;
}

.get-user-info button:hover {
    background-color: rgba(120, 190, 231, 0.452);
}

.title{
    background-color: rgba(116, 116, 116, 0.507);
    display: flex;
    max-width: fit-content;
}

.title h1{
    font-family: 'prompt';
    font-size: 30px;
    color: white;
}

.carrito{
    background-color: white;
    height:auto;
    margin-top: 3%;
    margin-left: 60%;
}

th{
    font-family: 'oswald';
}

td{
    font-family: 'prompt';
}

.añadir{
    background-color:#26D426EA ;
}

.añadir:hover{
    background-color: #1bad1bea;
}
/* IDS*/


#nickname-user{
    margin-top: 3%;
    text-align: center;
    font-family: '';
}

#contact{
    background-color: cornsilk;
}

#username {
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    width: 200px;
}

#catalogo{
    font-family: 'ROBOTO';
}

#disconnect{
    background-color: rgb(230, 72, 72);
}
#disconnect:hover{
    background-color: rgb(177, 57, 57);
}
