/* General Styles */
body {
    margin: 0;
    background: url('https://images.pexels.com/photos/5477776/pexels-photo-5477776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif; /* Fuente genérica para todo el documento */
}

.bienvenido{
    background-color: rgba(166, 219, 250, 0.575);
    border-radius: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Oswald';
    font-style: italic;
}

.imges{
    background-color: rgb(83, 83, 83);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20%;
}

.bienvenido h2{
    font-size: 70px;
}

.second-ttl{
    background-color: darkcyan;
}

.second-ttl h3{
    font-family: 'montserrat';
    text-align: center;
    color:  white;
}


.navi {
    background-color: rgba(128, 128, 128, 0.24);
    color: black;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.inacap-ludi {
    text-align: center;
    color: rgba(231, 37, 37, 0.897);
    font-weight: bold;
}

.ludi {
    color: black;
    font-family: 'Segoe UI';
    font-style: italic;
}

.g {
    color: white;
}

.inacap-info {
    list-style-type: none;
}

.inacap {
    width: 150px;
    height: auto;
    background-color: white;
}

.menos {
    background-color: rgb(230, 72, 72);
}

.menos:hover {
    background-color: rgb(177, 57, 57);
}

.get-user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.get-user-info label,
.get-user-info input,
.get-user-info button {
    margin-left: 5px;
}

.get-user-info button {
    background-color: rgb(120, 190, 231);
}

.get-user-info button a {
    text-decoration: none;
    color: black;
}

.get-user-info button:hover {
    background-color: rgba(120, 190, 231, 0.452);
}

.title {
    margin-top: 5%;
    background-color: rgba(116, 116, 116, 0.507);
    color: white;
    display: grid;
    text-align: center;
}

.title h1 {
    font-family: 'prompt';
    font-size: 30px;

}

.title p{
    font-family: 'prompt';
    font-size: 20px;
}

.carrito {
    background-color: white;
    height: auto;
    margin-top: 3%;
    margin-left: 60%;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-show, .carrito {
    flex: 1;
    min-width: 0;
}

.table {
    width: 100%;
}

.table th, .table td {
    padding: 8px;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

th {
    font-family: 'Oswald';
}

td {
    font-family: 'Prompt';
}

.añadir {
    background-color: #26D426EA;
}

.añadir:hover {
    background-color: #1bad1bea;
}

.del-carrito{
    background-color: rgb(230, 72, 72);
    width: auto;
    height: auto;
    font-size: 12px;
}
.del-carrito:hover {
    background-color: rgb(177, 57, 57);
}


/* IDS */
#return-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(131, 194, 189, 0.555);
    color: white;
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 20px;
    padding-top: 1%;
    text-align: center;
    text-decoration: none;
}

#carrito {
    border-radius:15px;
    background-color: white;
    width: fit-content;
    max-width: 300px; /* Limita el ancho máximo del carrito */
    flex-shrink: 0;
    margin-top: 3%;
    margin-left: auto; /* Alinea el carrito al lado derecho */
}

#nickname-user {
    margin-top: 3%;
    text-align: center;
}

#contact {
    font-size: 20px;
    background-color: rgba(121, 181, 216, 0.904);
}

#username {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#catalogo {
    font-family: 'Roboto';
}

#disconnect {
    background-color: rgb(230, 72, 72);
}

#disconnect:hover {
    background-color: rgb(177, 57, 57);
}

#about{
    background-color: rgb(245, 177, 87);
    color: black;
}

#about h2{
    margin: 20px;
    font-family: 'Times New Roman';
    font-size: 50px;
    text-align: center;
}

#about p{
    font-family: 'Segoe UI';
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: white;
}



@media (min-width: 768px) {
    .table-container {
        flex-direction: row;
    }

    .carrito {
        margin-left: 20px;
        margin-top: 0;
    }

    .get-user-info {
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .navi {
        flex-direction: column;
        align-items: center;
    }

    .table-container {
        flex-direction: column;
    }

    .carrito {
        margin-left: 0;
        width: 100%;
    }

    .get-user-info {
        justify-content: center;
    }

    .table th, .table td {
        padding: 5px;
    }
}

